
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #0e0e10;
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}


main.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  flex: 1;
  width: 100%;
  max-width: 800px;
  padding: 20px;
  box-sizing: border-box;
}


header {
  margin-top: 30px;
}
header img {
  width: 230px;
}


.buscador {
  width: 100%;
  max-width: 600px;
  position: relative;
}

#searchInput {
  width: 100%;
  padding: 15px 20px;
  font-size: 20px;
  border-radius: 30px;
  border: none;
  outline: none;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  background: #1f1f23;
  color: white;
}


#suggestions {
  position: absolute;
  top: 120px;

  width: 100%;
  background: #1f1f23;
  border-radius: 10px;
  max-height: 250px;
  overflow-y: auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

#suggestions div {
  padding: 12px 16px;
  cursor: pointer;
  display: block;
  transition: background 0.2s;
}

#suggestions div:hover {
  background: #3a3a3d;
}


#results {
  margin-top: 60px;
  width: 100%;
}

.result-card {
  background: #1f1f23;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.result-card img {
  max-width: 100px;
  float: right;
  margin-left: 20px;
  border-radius: 8px;
}

a {
  color: #9147ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h3 {
  border-bottom: 1px solid #333;
  padding-bottom: 10px;
}


@media (max-width: 600px) {
  #searchInput {
    font-size: 18px;
    padding: 12px 16px;
  }

  .result-card img {
    float: none;
    display: block;
    margin: 10px auto;
  }

  header img {
    width: 60px;
  }
}
